<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-input placeholder="Email" formControlName="email"></ion-input>
    <ion-label *ngIf="!form.get('email').valid && form.get('email').touched">Email inserita non è corretta</ion-label>
    <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
    <app-custom-button (clicked)="redirectToLogin($event)"></app-custom-button>
    <ion-label *ngIf="!!message">{{message}}</ion-label>
    <ion-spinner color="primary" *ngIf="loading"></ion-spinner>
    <!--<ion-button [disabled]="!form.valid" (click)="redirectToLogin()">Login</ion-button>-->
  </form>
</ion-content>
