<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-avatar>
        <img [src]="user.avatar">
      </ion-avatar>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center ion-margin-top">
      <ion-label>nome: {{user.name}} </ion-label>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-label>cognome: {{user.lastname}}</ion-label>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-label>ruolo: {{user.role}}</ion-label>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-label>età: {{user.age}}</ion-label>
    </ion-row>
  </div>
</ion-content>
